body {
	background-color: #D0c5ad;
	color: #3f2700;
	height: 90vh;
}

h2 {
	text-align: center;
	margin-top: 15vh;
}

div.gallery {
	display: flex;
	flex-wrap: wrap;
	float: center;
	align-items: center;
	justify-content: center;
	padding-bottom: 100px;
}

div.flag {
	margin: 5px;
	float: left;
	width: 250px;
}

div.flag img {
	width: 250px;
	height: 140px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.links_head {
	padding-top:2px;
	padding-bottom:2px;
	cursor: pointer;
	position: relative;
	margin: 0px;
	text-align: center;
	font-size: 4vh;
	background-color: white;
	border: 4px outset;
}

.links_body {
	padding: 10px;
	text-align: left;
	position: absolute;
	z-index: 1;
	box-sizing: border-box;
	width: 250px;
	font-family: inconsolata;
	line-height: 1.3em;
	display: none;
	background-color: white;
	border: 4px outset;
	border-top: none;
}
