body {
	background-color: #D0c5ad;
	color: #3f2700;
	height: 90vh;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	background-color:white;
  border-style:outset;
  border-width:15px;

  margin: 0 auto;
	padding: 20px;
	width: 25%;
  max-width: 400px;
}

p {
	margin: 10px;
}
